// @import 'fonts';
@import 'variables';
@import 'libs/normalize';
@import 'fluid-typography';
@import 'components/all';

.orange {
    color: $orange;
}
.btn-main {
    padding: 2.4rem 3.7rem;
    color: #fff;
    font-weight: 900;
    font-size: 1.8rem;
    line-height: 2.2rem;
    border: 3px solid #ffffff;
    // filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.7)) drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
    border-radius: 3px;
    background: transparent;
    transition: opacity 0.2s;
    @media (max-width: 767.98px) {
        font-size: 1.6rem;
        line-height: 1.9rem;
        border-radius: 7px;
        width: 100%;
    }
    &:hover {
        opacity: 0.7;
    }
    &--orange {
        padding: 1.6rem 3.3rem;
        border: 2px solid $orange;
        color: $orange;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
}
.all {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 4.4rem;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 2.5rem;
    text-align: center;
    color: $blue;
    &:hover {
        opacity: 0.8;
    }
    &::after {
        content: url('../assets/img/icons/arrow_down.png');
        display: block;
        width: 1.1rem;
        margin-left: 1rem;
    }
    &::before {
        content: url('../assets/img/icons/arrow_down.png');
        display: block;
        width: 1.1rem;
        margin-right: 1rem;
    }
}
.more {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
    overflow: hidden;
}
.vissible {
    //  max-height: 0;
    max-height: 500px;
    opacity: 1;
    transition: max-height 0.4s ease-in, opacity 0.4s ease-in;
}
// .btn-main {
//     padding: 2.4rem 3.7rem;
//     color: #fff;
//     font-weight: 900;
//     font-size: 1.8rem;
//     line-height: 2.2rem;
//     border: 3px solid #ffffff;
//     // filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.7)) drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
//     border-radius: 3px;
//     background: transparent;
//     transition: opacity 0.2s;
//     &:hover {
//         opacity: 0.7;
//     }
// }

.photoshoot {
    padding-top: 7rem;
    &__title {
        margin-bottom: 1.8rem;
        font-weight: 500;
        font-size: 4rem;
        line-height: 4.9rem;
        @media (max-width: 767.98px) {
            font-weight: 400;
            font-size: 2.8rem;
            line-height: 3.4rem;
            text-align: center;
        }
    }
    &__desc {
        margin-bottom: 2.1rem;
        max-width: 54.9rem;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.6rem;
        @media (max-width: 767.98px) {
            font-size: 1.4rem;
            line-height: 2rem;
        }
    }
    &__img {
        &--mobile {
            display: none;
            @media (max-width: 767.98px) {
                display: block;
                margin-bottom: 3rem;
            }
        }
        &--desk {
            @media (max-width: 767.98px) {
                display: none;
            }
        }
    }
    &__list {
        padding-left: 0;
        margin-bottom: 3.9rem;
        li {
            display: flex;
            align-items: center;
            margin-bottom: 1.8rem;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 2rem;
            @media (max-width: 767.98px) {
                font-size: 1.4rem;
                line-height: 2rem;
            }
            &:nth-child(1) {
                img {
                    margin-right: 1.1rem;
                }
            }
            &:nth-child(2) {
                img {
                    margin-right: 0.8rem;
                }
            }
            &:nth-child(3) {
                img {
                    margin-right: 1rem;
                }
            }
            &:nth-child(4) {
                img {
                    margin-right: 1.2rem;
                }
            }
        }
    }
    .stars {
        border-top: 0.5px solid $border-color;
        border-bottom: 0.5px solid $border-color;
        &__content {
            display: flex;
            align-items: center;
            @media (max-width: 767.98px) {
                flex-direction: column;
                align-items: flex-start;
                p {
                    font-size: 1.4rem;
                    line-height: 2rem;
                }
            }
        }
    }
}

.stars {
    display: flex;
    align-items: center;
    padding: 3rem 0;
    // border-top: 0.5px solid $border-color;
    // border-bottom: 0.5px solid $border-color;
    @media (max-width: 767.98px) {
        padding: 1.4rem;
    }
    p {
        margin-bottom: 0;
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
    .cup {
        margin-right: 1rem;
    }
    .star {
        margin-right: 0.7rem;
    }
    &-wrapper {
        margin-left: 1.4rem;
        @media (max-width: 767.98px) {
            margin-left: 0;
        }
    }
}

.package-photos {
    margin-top: 3rem;
    padding-bottom: 2.7rem;
    border-bottom: 0.5px solid $border-color;
    &__title {
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.9rem;
        margin-bottom: 3.7rem;
        @media (max-width: 767.98px) {
            font-weight: 400;
            text-align: center;
            font-size: 3rem;
            line-height: 3.6rem;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    &__grid {
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 1.1rem;
        }
        &-all {
            margin-top: 4.4rem;
            text-align: center;
            font-weight: 500;
            font-size: 1.7rem;
            line-height: 2.5rem;
            color: $blue;
        }
    }
}
.about {
    position: relative;
    padding-top: 3.7rem;
    padding-bottom: 1rem;

    &__img-wrapper {
        position: relative;
        width: fit-content;
        margin: 0 auto;
        margin-top: 4rem;
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: -2rem;
            right: -7.7rem;
            background: url('../assets/img/icons/heart.svg') no-repeat center/contain;
            width: 3.7rem;
            height: 3rem;
        }
    }
    &__profile {
        text-align: center;
        @media (max-width: 767.98px) {
            margin-bottom: 2.5rem;
        }
    }
    &__img {
        margin-bottom: 2.3rem;
        width: 100%;
        max-width: 13.9rem;
    }
    &__title {
        margin-bottom: 0.7rem;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
    &__desc {
        margin-bottom: 1.1rem;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.1rem;
    }
    &__more {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: $blue;
    }
}

.photography-soon {
    padding-top: 5rem;
    padding-bottom: 8.2rem;
    border-top: 0.5px solid $border-color;
    &__title {
        margin-bottom: 3rem;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.9rem;
    }
    &__block {
        padding: 3rem;
        border: 1px solid $border-color;
        @media (max-width: 767.98px) {
            padding: 2rem 0;
        }
        &-header {
            display: flex;
            align-items: center;
            margin-bottom: 1.5rem;
            @media (max-width: 767.98px) {
                justify-content: space-between;
                padding: 0 2rem;
            }
        }
        &-title {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.6rem;
            margin-bottom: 0;
        }
    }
    &__date {
        position: relative;
        padding: 1.3rem;
        margin-left: 1rem;
        border: none;
        color: #fff;
        width: 4rem;
        @media (max-width: 767.98px) {
            padding: 1rem;
        }
        &::-webkit-calendar-picker-indicator {
            z-index: 3;
            right: 50%;
            transform: translateX(50%);
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: #fff;
        }
    }
    .stars {
        padding-bottom: 2rem;
        border-top: 0.5px solid $border-color;
        padding-top: 3.2rem;
        p {
            @media (max-width: 767.98px) {
                font-size: 1.3rem;
                line-height: 1.9rem;
            }
        }
    }
}
.map {
    position: relative;
    min-height: 50.9rem;
    .container {
        position: relative;
        z-index: 1;
    }
    &__iframe-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        @media (max-width: 767.98px) {
            position: static;
        }
        iframe {
            width: 100%;
        }
    }
    &__content {
        background: #fff;
        padding: 5.1rem 3rem;
        max-width: 42rem;
        margin: 2rem 0;
        @media (max-width: 767.98px) {
            border: 1px solid $border-color;
            padding: 2rem 3rem;
            margin-top: 5rem;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 3.4rem;
        &:last-child {
            margin-bottom: 0;
        }
        &-number {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $orange;
            border-radius: 50%;
            width: 6.1rem;
            height: 6.1rem;
            margin-right: 1.8rem;
            font-weight: 700;
            font-size: 3.5rem;
            line-height: 5.1rem;
            color: #fff;
        }
        &-title {
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.7rem;
            margin-bottom: 0.5rem;
        }
        &-text {
            margin-bottom: 0;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.6rem;
        }
        &-avatar {
            width: 6.1rem;
            height: 6.1rem;
            margin-right: 1.8rem;
            border-radius: 50%;
        }
        &-more {
            cursor: pointer;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 2.1rem;
            color: $blue;
            margin-top: 0.2rem;
            margin-bottom: 0;
        }
    }
}
input {
    position: relative;
}
::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 1.4rem;
    width: 2.7rem;
    height: 2.7rem;
    color: transparent;
    cursor: pointer;
    opacity: 1;
    background: url('../assets/img/icons/calendar-orange.svg') no-repeat center;
    background-size: contain;
    // z-index: 3;
    &:hover {
        opacity: 0.8;
    }
    // border: 1px solid #444;
}

.review {
    padding-top: 13rem;
    padding-bottom: 4.7rem;
    @media (max-width: 767.98px) {
        padding: 2rem 0;
    }
    &__title {
        margin-bottom: 5rem;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.9rem;
        @media (max-width: 767.98px) {
            font-size: 2.8rem;
            line-height: 4.2rem;
            text-align: center;
        }
    }
}
.socials {
    padding: 4.5rem 0;
    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        @media (max-width: 767.98px) {
            width: 8.4rem;
        }
    }
    &__item {
        &:not(:last-child) {
            margin-right: 3rem;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}
.footer {
    padding: 2.5rem 0;
    background: #faf9f8;
    border-top: 0.5px solid $border-color;
    &__icon {
        &:not(:last-child) {
            margin-right: 2rem;
        }
        &:hover {
            opacity: 0.8;
        }
    }
    &__copy {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: $gray;

        &:not(:last-child) {
            margin-bottom: 0.7rem;
            @media (max-width: 767.98px) {
                margin-top: 2.4rem;
            }
        }
        a {
            color: $gray;
            &:hover {
                color: $orange;
            }
        }
    }
}
